#info h1{
    width: 94%;
    margin-top: 5px;
    padding-left: 6%;
    position: absolute;
    color: rgba(77, 77, 77, 1);
    font-family: DejaVu Sans Mono, Arial;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 5%;
    background: white;
}
#info{
    overflow-y: scroll;
}
#ordersList, #chatsList{
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
    width: 100%;
    height: calc(100% - 35px - 5%);
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: inline !important;
}
    #orderSetList{
        position: fixed;
        width: 150px;
        height: 90px;
        background: rgba(167, 167, 167, 0.8);
        border-radius: 14px 0px 14px 14px;
        z-index: 100000;
        overflow: hidden;
        padding: 5px;
        background: linear-gradient(90deg, #39B9FF, #003BE4);
        transition: all .2s ease-in-out;
        opacity: 1;
    }
        .setItem{
            font-family: DejaVu Sans Mono, Arial;
            width: 100%;
            height: calc(100% / 3);
            color: white;
            vertical-align: middle;
            display: flex;
            align-items: center;
            padding-left: 7px;
            cursor: pointer;
        }
.orderItem{
    border-radius: 17px;
    position: relative;
    display: flex;
    align-items: center;
    margin: 10px;
    width: 90%;
    height: 25%;
    background: rgba(80, 78, 78, 0.2);
}

.orderSettins{
    position: absolute;
    right: -20px;
    font-size: 40px;
    line-height: 200%;
    background: linear-gradient(90deg, #39B9FF, #003BE4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.orderItem img{
    left: 1.6%;
    position: relative;
    border-radius: 10px;
    height: 80%;
}

.orderInfo{
    position: relative;
    width: inherit;
    height: 100%;
}
.orderInfo .orderName{
    text-align: center;
    position: relative;
    width: 100%;
    top: 3%;
    font-size: 14pt;
    font-family: DejaVu Sans Mono;
    font-weight: bold;
    color: rgba(77, 77, 77, 1);
}
.orderInfo .orderCost{
    position: absolute;
    right: 3%;
    bottom: 3%;
    font-size: 17pt;
    font-family: DejaVu Sans Mono;
    font-weight: bold;
    color: rgba(77, 77, 77, 1);
}
.orderInfo .orderDesc{
    margin-top: 5px;
    position: absolute;
    width: 90%;
    right: 5%;
    display: flex;
    align-self: center;
    font-size: 10pt;
    font-family: DejaVu Sans Mono;
    font-weight: bold;
    color: rgba(77, 77, 77, 1);
    max-height: 50%;
    overflow-y: scroll;
}
.orderDesc::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 650px){
    #info h1{
        text-align: center;
        padding: 0 !important;
    }
}
@media screen and (max-width: 550px){
    .orderSettins{ right: -15px !important; }
}
@media screen and (max-width: 350px){
    .orderSettins  { right: -13px !important; }
}