#sell{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.protoGood{
    position: absolute !important;
    width: 23%;
    margin-left: 2%;
    margin-top: 2%;
    height: 75%;
    z-index: 10;
    border-radius: 9%;
}
#createGood{
    top: 10%;
    position: absolute;
    height: 90%;
    right: 0;
    width: 75%;
    z-index: 100;
    overflow-y: scroll;
}
#createGood #goCreate{
    position: absolute;
    width: 35% !important;
    margin-top: 5% !important;
}
#createGood label{
    line-height: 65px;
}
#createGood textarea{
    padding-top: 15px;
}
#createGood input, #createGood textarea,#createGood label, #createGood #goCreate, #createGood select, .select{
    font-family: DejaVu Sans Mono, Arial Black;
    font-weight: bold;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px;
    width: inherit;
    height: 10%;
    color: white;
    width: 70%;
    height: 67px;
    border-radius: 70px;
    background: linear-gradient(to bottom right, #39B9FF, #003BE4);
    border: none;
    outline:none;
    font-size: 20pt;
    display: flex;
    text-align: center;
    justify-content: center;
    caret-color: rgba(229, 229, 227, 0.9);
}
#createGood input::placeholder,#createGood textarea::placeholder {
    color: white;
}
#createGood textarea{
    max-width: 70%;
    min-width: 70%;
    height: 150px;
    border-radius: 35px;
    padding: 15px;
    
}

.select{
    border-radius: 30px 30px 0 0 !important;
    transition: all .2s ease-in-out;
    position: relative;
    overflow: hidden;
    margin-top: 45px;   
    margin-bottom: 45px;   
}

.select.is-active .select__body { visibility: visible; }
.select.is-active { 
    border-radius: 26px !important;
}

.select__header {
    position: absolute;
	cursor: pointer;
    width: 100%;
    height: 67px;
    display: flex;
    align-items: center;
}
.select__current {
    position: absolute;
    width: 100%;
    height: max-content;
}
.select__icon {
	align-items: center;
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	height: 50px;
	margin-left: auto;
	text-align: center;
    width: 50px;
    /* animation: selectIcon 4s ease-in-out reverse !important; */
}
.select__icon {
    transform-origin: center;
	position: relative; /* позиционируем для дочерних блоков */
	
 	transition: .2s; /* скорость поворота */
	transform-style: preserve-3d; /* стиль трансформирования 3-д */
	
	/* для поддержки webkit */
   	-webkit-transition: .2s;
  	-webkit-transform-style: preserve-3d;
  	-webkit-transform: rotateY(0deg);
	
	/* для поддержки moz */
   	-moz-transition: .2s;
  	-moz-transform-style: preserve-3d;
      -moz-transform: rotateY(0deg);

}

.select.is-active .select__icon {
    transform-origin: center;
    /* общие стили */
    transform: rotateX(180deg); /* поворачиваем на 180 градусов по горизонтали */
    /* для поддержки webkit */
    -webkit-transform: rotateX(180deg);
    /* для поддержки moz */
    -moz-transform: rotateX(180deg);
}
	
.select__icon .front {
    padding-top: 10px;
    transform-origin: center;
	/* общие стили */
	position: absolute; /* абсолютное позиционирование */
  	width: 100%; /* на всю ширину родительского блока */
	height: 100%; /* на всю высоту родительского блока */
	backface-visibility: hidden; /* скрываем контент, который отвернут от пользователя */
	
	/* для поддержки webkit */
	-webkit-backface-visibility: hidden;
	
	/* для поддержки moz */
	-moz-backface-visibility: hidden;
}

.select__icon .back {
    padding-top: 10px;
    transform-origin: center;
	/* общие стили */
	position: absolute; /* абсолютное позиционирование */
  	width: 100%; /* на всю ширину родительского блока */
	height: 100%; /* на всю высоту родительского блока */
	backface-visibility: hidden; /* скрываем контент, который отвернут от пользователя */
	transform: rotateX(180deg); /* отворачиваем задний блок */
	
	/* для поддержки webkit */
	-webkit-backface-visibility: hidden;
	-webkit-transform: rotateX(180deg);

	/* для поддержки moz */
  	-moz-backface-visibility: hidden;
	-moz-transform: rotateX(180deg);
}

.select__body {
    visibility: hidden;
	display: flex;
	left: 0;
	position: relative;
	right: 0;
    top: 67px;
    height: fit-content;
    flex-wrap: wrap;
    padding: 8px;
    padding-top: 0;
}
.select__body:before{
    position: relative;;
    left: 50%;
    width: 85%;
    transform: translateX(-50%);
    border-top: 3px solid white;
    content:"";
    padding-bottom: 8px;
}
.select__item {
	cursor: pointer;
	font-size: 20px;
    line-height: 35px;
    background: white;
    border-radius: 7px;
    margin: 5px;
    padding: 5px;
    z-index: 100;

    color: #003BE4;    
}

.select__item:hover {
	background-color: #f2f2f2;
}

#createGood input[type='file']{
    display: none;
}

#createGood select{
    margin-top: 6%;
    padding: 0 5%;
    border: none;
    outline: none;
    text-align-last: center;
}
#createGood option{
    width: 50%;
    color: rgba(77, 77, 77, 1);
    border: none;
    outline: none;
}

.protoGood .goods-card{
    width: 100%;
    height: 100%;
    margin-bottom: 0 !important;
    margin: 0;
}

.protoGood .goodFooter{
    position: absolute;
    bottom: 0;
}

.protoGood img {
    z-index: 100;
    position: absolute;
    top: calc((100% - 78px) / 2);
    transform: translateY(-50%);
}

.protoGood:before {
    position: absolute;
    top: 0;
    left: 94%;
    width: 1000px;
    height: calc(100% - 3px);
    content: '';
    background: rgb(243, 243, 243);
    transform: skewY(45deg);
    transform-origin: 0 0;
    z-index: -1;
}

.protoGood:after {
    position: absolute;
    top: 95%;
    left: 0;
    width: calc(100% - 1px);
    height: 1000px;
    content: '';
    background: rgb(243, 243, 243);
    transform: skewX(45deg);
    transform-origin: 0 0;
    z-index: -10;
}

#adresses{
    position: relative;
    width: 70%;
    height: 0;
    /* height: 175px; */
    left: 50%;
    transform: translateX(-50%);
    margin: 15px;
    margin-top: -15px;
    overflow-y: scroll;
    transition: all 3 ease-in-out;
}
#adresses > *{
    position: relative;
    word-break: break-all;
    width: 100%;
    border-bottom: 2px solid #003BE4;
    font-size: 25px;
    font-family: Roboto;
    cursor: pointer;
}
#adresses .blackOut{
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(82, 82, 82, 0.61);
    opacity: 0;
    transition: all .1s ease-in-out;
    pointer-events: none;
}
#adresses>:hover .blackOut{
    opacity: .5;
}

#specifications{
    width: 70%;
    height: 40px;
    overflow: hidden;
    font-family: DejaVu Sans Mono, Arial Black;
    font-weight: bold;
    font-size: 20pt;
    color: #7d7d7d;
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.specItem{
    width: 100%;
    height: 40px;
    margin: 7px 0 !important;
}

#open{
    width: 100%;
    margin-bottom: 25px;
    cursor: pointer;
}

#specList{
    text-align: left;
}

#specifications .spec, #specifications .specVal{
    position: relative;
    width: 45%;
    height: 40px;
    border-radius: 5px;
    margin: 0 !important;
    display: inline;
    left: 0 !important;
    transform: none;
}

#specifications .specVal{
    /* margin-left: -50% !important; */
    left: 100% !important;
    transform: translateX(-200%)
}

#addSpec{
    background: linear-gradient(90deg, #39B9FF, #003BE4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.spec-val{
    position: absolute;
    background: linear-gradient(90deg, #39B9FF, #003BE4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100%;
    height: 100%;
    text-align: center;
    left: 0 !important;
    transform: none;
    pointer-events: none;
}
#deleted{
    text-align: center;
    transition: all 2s ease-in-out;
}

@media screen and (max-width: 1024px){
    .protoGood{
        display: none;
    }
    #createGood{
        top: 10%;
        position: absolute;
        height: 90%;
        width: 100%;
        z-index: 100;
        overflow-y: scroll;
    }
}
@media screen and (max-width: 620px){
    #createGood input, #createGood textarea,#createGood label, #createGood #goCreate, #createGood select{
        font-size: 15pt;
    }
}
@media screen and (max-width: 405px){
    #createGood{
        top: 15% !important;
    }
    #createGood input, #createGood textarea,#createGood label, #createGood #goCreate, #createGood select{
        margin: 0px !important;
        margin-top: 5px !important;
    }
}